main{
  height: 350px;
  width: 240px;
  background: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#visor{
  background-color: #1F1F1F;
  height: 100px;
  width: 240px;
  font-size: 40px;
  border: none;
  color: #D4D5D7;
  padding-left: 10px;

}
.btn {
  border: 1px solid black;
  width: 60px;
  height: 50px;
  background-color: #D4D5D7;
  cursor: pointer;
}
.btn:hover{
  background: #CDCDCE;
}
.zero{
  width: 120px;
}
.calculadora{
  height: 100%;
}
.d{
  background-color: #F08013;
  color: #fff;
}
